
<nav class="navbar navbar-expand-sm bg-dark">
    
    <ul class="navbar-nav">
     <li>
      <a class="nav-link text-white" routerLink="/startpage/"><i class="fa fa-home" style="font-size:24px"></i> &nbsp;<b>Home</b></a>
     </li>     
    </ul>
    <a class="nav-link mx-auto text-white"> 
        <i class="fa fa-desktop text-white"></i>&nbsp;&nbsp; <b >MENTOR ON DEMAND</b></a>
    
     </nav>
<body>

  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="text-center" style="margin-top: 100px;">
          <a class="btn  btn-lg text-center text-white" routerLink="/userreg">USER REGISTRATION</a> 
          <br/>
          <br/>
          <a class="btn  btn-lg text-center text-white" routerLink="/Login">LOGIN</a>
          <br/>
          <br/>
          <a class="btn  btn-lg text-center text-white" routerLink="/mentorreg">MENTOR REGISTRATION</a> 
          <br/>
          <br/>
        </div>
        </body>


