<!-- <app-mentorlist></app-mentorlist> -->

<!-- <app-mentor-registration></app-mentor-registration> -->

<!-- <app-startpage></app-startpage> -->






<!-- <app-techlist></app-techlist> -->

<router-outlet></router-outlet>

<footer >
    <div class=" footer  mx-auto text-white">
 <b><i class="fa fa-address-book-o" style="font-size:24px"></i>&nbsp;&nbsp;About Us</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b><i class="fa fa-phone" style="font-size:24px"></i> &nbsp;&nbsp;Contact Us </b>
</div>
</footer>
