

<nav class="navbar navbar-expand-md bg-dark">

        <ul class="navbar-nav">
        <li>
        <a class="nav-link text-white" routerLink="/startpage/"><b><i class="fa fa-home" style="font-size:24px"></i> &nbsp;&nbsp;Home</b></a>
        </li>     
        </ul>
        <a class="nav-link text-white" style="margin-left: 450px;"> 
        <b><i class="fa fa-desktop" style="font-size:24px"></i>&nbsp;&nbsp;Mentor On Demand</b></a>
        
        
        </nav>
        <body>
       
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="card mx-auto login-wrap" style="width:700px;">
        
        
        <form (ngSubmit)="mentorreg()"  #registrationForm="ngForm">
        
        <div class="row" style="text-align: center">
        <div class="col-md-1"></div>
            <div class="mx-auto text-white"><h3>MENTOR REGISTRATION</h3></div>
        <div class="col-md-1"></div>
        </div>   
        <br/>  
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
                <div class="form-group">
                    <label for="user_name"><b>User Name</b></label>
                    <br />
                    <input type="text" class="form-control" id="user_name" placeholder="Enter User Name" name="username" [(ngModel)]="mentor.username" #userName="ngModel" required>
                    <!-- <div class="text-error text-danger" *ngIf="userName.dirty && userName.touched && !userName.valid">
                        Username is required
                    </div>
                    <div class="text-error text-danger" *ngIf="userName.touched && UniqueUserName(userName.value)">
                        Username already exist
                    </div>
             -->
                </div>
        </div>
        <div class="col-md-5">
                <div class="form-group">
                    <label for="mentor_name"><b>Mentor Name</b></label>
                    <br />
                    <input type="text" class="form-control" id="mentor_name" placeholder="Enter  Name" name="mentorname" [(ngModel)]="mentor.mentorName" #mentorname="ngModel" required>
                    <!-- <div class="text-error text-danger" *ngIf="userName.dirty && userName.touched && !userName.valid">
                        Username is required
                    </div>
                    <div class="text-error text-danger" *ngIf="userName.touched && UniqueUserName(userName.value)">
                        Username already exist
                    </div>
             -->
                </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
                <div class="form-group">
                    <label for="url"><b>linkedinURL</b> </label>                            
                    <input type="text" class="form-control" id="url" [(ngModel)]="mentor.linkedinURL"  placeholder="Enter url" name="url" #url="ngModel"required>
                    <!-- <div class="text-error text-danger" *ngIf="userPass.dirty && userPass.touched && !userPass.valid">
                        Password is required
                    </div> -->
                </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="first_name"><b>RegDATE</b></label>
                <br />
                <input type="date" [(ngModel)]="mentor.regDatetime" id="regdate" style="width: 200px;" name="registrationdate" #regdate="ngModel">
  
            </div>
        </div>
        
        <!-- <div class="col-md-5">
            <div class="form-group">
                    <label for="regdate"><b>Reg_code</b> </label> 
                    <input type="text" class="form-control" pattern="^[0-9]{10}$" maxlength="10" name="registrationcode" [(ngModel)]="mentor.regcode" #regcode="ngModel"required>     
            </div>
        </div> -->
   
        </div>
        
        <div class="row">  
        <div class="col-md-1"></div>             
        <div class="col-md-5">
                <div class="form-group">
                    <label for="years"><b>Years of Experience</b> </label>
                    <br/>                            
                    <input type="number" class="form-control" pattern="^[0-9]{10}$" maxlength="10" name="yearsofexperience" [(ngModel)]="mentor.yearsOfExperience" #yearsofexperience="ngModel"required> 
                    <!-- <div *ngIf="Contact.dirty && Contact.touched && Contact.invalid">
                        <div class="text-error text-danger" *ngIf="Contact.errors.required" >Contact Number Required</div>
                        <div class="text-error text-danger" *ngIf="Contact.errors.pattern" >Contact Number Should Only Contain Numbers</div>   
                    </div>
                    <div class="text-error text-danger" *ngIf="Contact.touched && UniqueContactNo(Contact.value)">
                        Contact already exist
                    </div> -->
                </div>
        </div>
        <div class="col-md-5">
                <div class="form-group">
                    <label for="user_pass"><b>Password</b> </label>                            
                    <input type="password" class="form-control" id="user_pass" [(ngModel)]="mentor.password" maxlength="6" placeholder="Enter Password (6 characters)" name="userpassword" #userPass="ngModel"required>
                    <!-- <div class="text-error text-danger" *ngIf="userPass.dirty && userPass.touched && !userPass.valid">
                        Password is required
                    </div> -->
                </div>
        </div>
              
        </div>
        <div class="row">
                <div class="col-md-1"></div>     
        <!-- <div class="col-md-5">
            <div class="form-group">
                <label for="regdate"><b>Reg_Date</b> </label> 
        &nbsp;
         <input type="date" [(ngModel)]="mentor.regDatetime" id="regdate" style="width: 200px;" name="registrationdate" #regdate="ngModel">
                                            
              
            </div>
        </div>      -->
        <div class="col-md-5">
        
                <div class="form-group">
                        <label for="regdate"><b>Reg_code</b> </label> 
                        <input type="number" class="form-control" pattern="^[0-9]{10}$" maxlength="10" name="registrationcode" [(ngModel)]="mentor.regcode" #regcode="ngModel"required> 
                    </div>
        </div>
        <div class="col-md-5">
                <div class="form-group">
                        <label for="regdate"><b>Active</b> </label> 
                        <input type="text" class="form-control"   name="registrationcode" [(ngModel)]="mentor.active" #regcode="ngModel"required> 
                    </div>
            </div>  
        </div>
        <div class="row"> 
                <div class="col-md-1"></div>
        <div class="col-md-5">
                
                    <!-- <label for="user_pass"><b>Force_Reset_Password</b> </label>                             -->
        <!--        
                        <a class="nav-link " style="margin-left:100px ;width:300px;" routerLink="resetpasword/">FORCE_RESET_PASSWORD</a>
                 -->
            
        </div>
        </div>
        
        <div class="row">
                <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="mx-auto">
                <button type="submit"  class="btn btn-primary btn-lg mt-2" style="border:none;align-self: center" >Save</button>
            <!-- <button type="submit"  class="btn btn-primary btn-lg mt-2" style="border:none;align-self: center" [disabled]="!registrationForm1.valid">Save</button> -->
        </div>
        <div class="col-md-2"></div>
        </div> 
        
        </form>
        </div>